/* ==============================
        GOOGLE FONT
================================ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ==============================
        COLOR
================================ */

:root{

    --primary:#00E5FF;
    --secondary:#7B61FF;

    --dark:#070B17;

    --dark2:#101626;

    --white:#FFFFFF;

    --gray:#BFC3D1;

    --border:rgba(255,255,255,.08);

    --glass:rgba(255,255,255,.08);

    --shadow:0 10px 30px rgba(0,0,0,.3);

}

/* ==============================
        FONT
================================ */

:root{

    --h1:72px;

    --h2:50px;

    --h3:35px;

    --text:18px;

}